<div class="page">

	<div class="top">
		<ul>
			<li>I Am an Applicant</li>
			<li>API & Docs</li>
			<li>About Us</li>
			<li>Careers</li>
		</ul>
	</div>

	<div class="menu">
		<div class="menuleft">
			<div class="logo">
				Checkr
			</div>
			<div class="menu">
				<ul>
					<li>PRODUCT</li>
					<li>STAFFING</li>
					<li>INDUSTRIES</li>
					<li>RESOURCES</li>
					<li>COMPLIANCE</li>
				</ul>
			</div>
		</div>


		<div class="menuright">
			<ul>
				<li>LOG IN</li>
				<li>GET STARTED</li>
			</ul>
		</div>
	</div>

	<div class="center">
		<div class="left">
			<div class="lefttext">
				<h1>HIRE GREAT PEOPLE.</h1>
				<h1>FASTER.</h1>
				<h3>Checkr provides modern and compliant background checks for global enterprises and startups.</h3>
			</div>
			<div class="explore">
				<h2>EXPLORE NOW</h2>
			</div>
		</div>
		<div class="right">
			<div class="video">
				<div><%= image_tag "Checkr_Hero.gif" %>
          <!--<video width="320" height="240" autoplay>
            <source src=video-url('Checkr_Hero.mp4') type="video/mp4">
            Your browser does not support the video tag.
          </video>-->
        </div>
			</div>
		</div>
	</div>

</div>
