<div class="page">

	<div class="top">
		<ul>
			<li><a href="#">I Am an Applicant</a></li>
			<li><a href="#">API & Docs</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Careers</a></li>
		</ul>
	</div>

	<div class="menuglobal">
		<div class="menuleft">
			<div class="logo">
				Checkr
			</div>
			<div class="menu">
				<div class="dropdown">
				  <button class="dropbtn">PRODUCT v</button>
				  <div class="dropdown-content">
				    <a href="#">Overview</a>
				    <a href="#">Screenings</a>
				    <a href="#">Compliance</a>
						<a href="#">Security</a>
				  </div>
				</div>
				<div class="dropdown">
				  <button class="dropbtn">STAFFING v</button>
				  <div class="dropdown-content">
				    <a href="#">Overview</a>
				  </div>
				</div>
				<div class="dropdown">
				  <button class="dropbtn">INDUSTRIES v</button>
				  <div class="dropdown-content">
				    <a href="#">Overview</a>
				    <a href="#">Screenings</a>
				    <a href="#">Compliance</a>
						<a href="#">Security</a>
				  </div>
				</div>
				<div class="dropdown">
				  <button class="dropbtn">RESOURCES v</button>
				  <div class="dropdown-content">
				    <a href="#">Overview</a>
				    <a href="#">Guides & White Papers</a>
				    <a href="#">FAQ</a>
				  </div>
				</div>
				<div class="dropdown">
				  <button class="dropbtn">COMPLIANCE</button>
				</div>
			</div>
		</div>

		<div class="menuright">
			<ul>
				<li><a href="#">LOG IN</a></li>
				<li>GET STARTED</li>
			</ul>
		</div>
	</div>

	<div class="center">
		<div class="left">
			<div class="lefttext">
				<h1>HIRE GREAT PEOPLE.</h1>
				<h1>FASTER.</h1>
				<h3>Checkr provides modern and compliant background checks for global enterprises and startups.</h3>
			</div>
			<div class="explore">
				<h2>EXPLORE NOW</h2>
			</div>
		</div>
		<div class="right">
			<div class="video">
				<div><%= image_tag "Checkr_Hero.gif" %>
          <!--<video width="320" height="240" autoplay>
            <source src=video-url('Checkr_Hero.mp4') type="video/mp4">
            Your browser does not support the video tag.
          </video>-->
        </div>
			</div>
		</div>
	</div>

</div>
