body {
  background-image: image-url('checkr_header_industries-1.jpg');
  background-size:cover;
}

.page {
	display: flex;
  justify-content: center;
  flex-flow: row wrap;
	width: 85%;
}

.top {
  margin-top: 10px;
  width: 100%;
}

.top li {
  list-style-type: none;
  display: inline;
}

.menu {
  display: flex;
  margin-top: 50px;
}
.menu li {
  list-style-type: none;
  display: inline;
}

.menuleft{
  display: flex;
}

.logo{

}

.menu{

}

.menuright{

}

.center{
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.left{

}

.lefttext{

}

.explore{

}

.right{

}

.video{

}
