<!DOCTYPE html>
<html>
  <head>
    <title>CheckrYourself</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Adding Montserrat Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- Adding the Proxima Nova fonts -->
    <link rel="stylesheet" type="text/css" href="/app/assets/fonts/fonts.css" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
